html, body {
    height: 100%; 
    margin: 0; 
    padding: 0;
}
body {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 30px;
    font-size: 3rem;
    text-align: center;
    color: white;
    background-color: black;
}

@font-face {
    font-family: FnG1;
    src: url(fonts/FnG1.otf);
}

@font-face {
    font-family: FnG2;
    src: url(fonts/FnG2.otf);
}

h1 { 
    padding: 0 40px;
    padding: 0 4rem;
    color: #E9C26F;
    font-weight: normal;
}
h2 {
    font-family: "FnG1", Verdana, sans-serif;
    font-size: 80px;
    font-size: 8rem;
    margin: 0;
    color: #E9C26F;
    text-shadow: 2px 2px 3px rgba(41, 48, 53, 1);
    font-weight: normal;
}

h3 {
    font-family: "FnG2", Verdana, serif;
    font-size: 40px;
    font-size: 4rem;
    margin: 0;
    font-weight: normal;
}

p {
    width: 80%;
    margin: 25px auto;
    margin: 2.5rem auto;
    line-height: 1.2;
}

.small { 
    font-size: 15px;
    font-size: 1.5rem;
}

a, a:visited {
    color: #E9C26F;
    font-weight: bold;
    font-style: italic;
    text-shadow: none;
}

img {
    border: 0;
}

ul {
    list-style: none;
}

.leftlist {
    display: inline-block; 
    text-align: left;
}

.sociallink {
    display: inline-block; 
    padding: 0 20px;
    color: #E9C26F;
    text-transform: uppercase;
}

.sociallink:hover, .sociallink a:hover {
    text-shadow: 2px 2px 3px rgba(41, 48, 53, 1);
}

.sociallink a, .sociallink a:visited {
    color: #E9C26F;
    font-weight: normal;
    font-style: normal;
    text-shadow: none;
    text-decoration: none;
}

.slide {
    margin: 0 auto;
    width: 100%;
    padding: 100px 0 150px 0;
    padding: 10rem 0 15rem 0;
    background-position: center bottom; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    height:100%;
}

.story {
    margin: 0 auto;
    position: relative;
    z-index: 1000;
    padding: 40px 0;
    padding: 4rem 0;
}

.semi {
    background-color: #364048;
    background-color: rgba(54, 64, 72, 0.5);
}

/* Responsive Line Breaks */
.rwd-line { display: block; }   
@media screen and (min-width: 768px) {
    .rwd-line { display: inline; }
}



/* Slides */

#home { 
    background-image: url('../img/home.jpg');
}
#tickets { 
    background-image: url('../img/tickets.png');
}
#giveback { 
    background-image: url('../img/give-back.png'); 
}
#childcare { 
    background-image: url('../img/childcare.png');
}
#directions { 
    background-color:#000; 
}
#volunteer { 
    background-image: url('../img/volunteer.png'); 
}
#sponsors { 
    background-image: url('../img/sponsors.png'); 
}

#home h1 img { width: 100%; height: auto; }
#home h2 { color: white; }
#home h3 { color: #E9C26F; }

#gracelogo {
    position: fixed;
    bottom: 20px;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
}


/* Navigation */
#nav {
    list-style: none;
    position: fixed;
    right: 20px;
    z-index: 999;
}

#nav li {
    margin: 0 0 15px 0; 
}

#nav li a {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: white;
    border: solid 2px white;
}

#nav li a.current {
    background-color: orange;
}



/* Setup Rem sizing */

@media (min-width: 1401px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 14px;
    }
}

/* target screen width  */
@media (max-width: 1280px) {
    html {
        font-size: 12px;
    }
}
    
@media (max-width: 1160px) {
    html {
        font-size: 11px;
    }
}
    
@media (max-width: 1040px) {
    html {
        font-size: 10px;
    }
}
    
@media (max-width: 920px) {
    html {
        font-size: 9px;
    }
}
    
@media (max-width: 800px) {
    html {
        font-size: 8px;
    }
}
    
@media (max-width: 680px) {
    html {
        font-size: 7px;
    }
}
    
@media (max-width: 560px) {
    html {
        font-size: 6px;
    }
}
    
@media (max-width: 440px) {
    html {
        font-size: 6px;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 6px;
    }
}
